.place__image {
    margin: 0;
    grid-area: image;
    max-width: 100%;
}

@media screen and (max-width:1024px) {
    .place__image {
        max-width: calc(100% - 20px);
    }
}

@media screen and (max-width:768px) {
    .place__image {
        max-width: calc(100% + 35px);
    }
}

@media screen and (max-width:320px) {
    .place__image {
        max-width: calc(100% + 33px);
        margin-left: -17px;
    }
}