.cover__container {
    margin: auto;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:768px) {
    .cover__container {
        margin: 25px auto;
    }
}

@media screen and (max-width:320px) {
    .cover__container {
        margin: 34px auto;
    }
}