.lead__title {
    font-size: 96px;
    line-height: 100px;
    text-align: center;
    font-style: normal;
    font-weight: 900;
    max-width: 720px;
    min-height: 200px;
    margin: 0 auto;
    overflow: visible;
}

@media screen and (max-width:1024px) {
    .lead__title {
        margin: 0 auto 0 104px;
    }
}

@media screen and (max-width:768px) {
    .lead__title {
        max-width: calc(100% - 48px);
        margin: 0 auto 0 25px;
    }
}

@media screen and (max-width:320px) {
    .lead__title {
        max-width: calc(100% - 32px);
        margin: 0 14px;
        min-height: 88px;
        font-size: 40px;
        line-height: 44px;
    }
}