.place {
    margin: 0;
    display: grid;
    grid-template-areas: "title website" "image paragraph";
    column-gap: 40px;
    row-gap: 48px;
    margin-bottom: 80px;
}

.place:last-child {
    margin-bottom: 92px;
}

@media screen and (max-width:1024px) {
    .place {
        column-gap: 12px;
        margin-bottom: 78px;
    }
}

@media screen and (max-width:768px) {
    .place {
        grid-template-columns: 1fr 1fr;
        column-gap: 12px;
        row-gap: 48px;
        margin-bottom: 26px;
    }
}

@media screen and (max-width:320px) {
    .place {
        grid-template-columns: 1fr;
        row-gap: 31px;
        grid-template-areas: "title" "website" "image" "paragraph";
        margin-bottom: 18px;
    }
    .place:nth-child(3) {
        margin-top: 42px;
    }
    .place:nth-child(4) {
        margin-top: -27px;
    }
}