.place {
    margin: 0;
    display: grid;
    grid-template-areas: "title website" "image paragraph";
    column-gap: 40px;
    row-gap: 48px;
    margin-bottom: 80px;
}

@media screen and (max-width:1024px) {
    .place {
        column-gap: 12px;
    }
}

@media screen and (max-width:768px) {
    .place {
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
        row-gap: 48px;
        margin: 0;
    }
    .place:nth-child(2) {
        margin-top: 73px;
    }
    .place:nth-child(3) {
        margin-top: 46px;
    }
    .place:nth-child(4) {
        margin-top: 46px;
    }
    .place:last-child {
        margin: 22px 0 38px 0;
    }
}

@media screen and (max-width:320px) {
    .place {
        grid-template-columns: 1fr;
        row-gap: 32px;
        grid-template-areas: "title" "website" "image" "paragraph";
    }
    .place:nth-child(2) {
        margin-top: 77px;
    }
    .place:nth-child(3) {
        margin-top: 53px;
    }
    .place:nth-child(4) {
        margin-top: 53px;
    }
    .place:last-child {
        margin: 0;
        margin-top: 80px;
    }
}